<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>PiWaterflow irrigation system</title>
<link rel="stylesheet" type="text/css" href="static/css/view.css" media="all">
<link rel="icon" type="image/png" sizes="32x32" href="static/img/icon-32.png">
<link rel="icon" type="image/png" sizes="256x256" href="static/img/icon-256.png">
</head>
<body id="main_body" style="background-color: #444444; color: #DFDFDF;" >
	<div id="form_container" align="center">
		<div class="mainheader">
			<!--<img src="static/img/icon-256.png" alt="Icon" width="90em" height="90em">-->
			<img src="static/img/piwaterflow.svg" alt="Icon" width="90em" height="90em">
			PiWaterflow 1.1
		</div>
		<form id="waterflow_form" style=" margin-block-end: 0em;" method="POST" action="">
			<div class="form_description" style="margin-bottom: -;margin-bottom: 0px; margin-top: 0px;">
				<label id = 'status'>Status: Retrieving status...</label>
			</div>

			<table class="table" id="tablacontroles"  style="width:100%; height:33%">
				<tr style="height:90%;">
					<td>
						<table id="programsandforce" style="width:100%;height:100%; border-bottom:1px dotted #ccc;">
							<tr>
								<td style="width:80%;">
									<table class="table" id="programstable" style="width:100%; height:100%;">
										<tr border="0px" id="prog1row" style="height:45%;">
											<td border="0px">
												<fieldset>
													<legend class="fieldsetheader"> Program 1</legend>
													<span class="spantime">
														<label class="programheader">Start </label>
														<input type="time" class="timeclass copperround" id="time1" name="time1" required>
													</span>
													<span class="spanvalve">
														<label class="programheader" >Valve 1</label>
														<input id="valve11" name="valve11" class="number copperround" type="number"  min="0" max="10">
													</span>
													<span class="spanvalve">
														<label class="programheader" >Valve 2</label>
														<input id="valve12" name="valve12" class="number copperround" type="number" min="0" max="10">
													</span>
													<span class="spanenabled">
														<input type="checkbox" id="prog1enabled" name="prog1enabled" value="True" class="checkstyle">
													</span>
												</fieldset>
											</td>
										</tr>
										<tr border="0" id="prog2row" style="height:45%;">
											<td>
												<fieldset>
													<legend class="fieldsetheader">Program 2</legend>
													<span class="spantime">
														<label class="programheader">Start </label>
														<input type="time" class="timeclass copperround" id="time2" name="time2" required>
													</span>
													<span class="spanvalve">
														<label class="programheader" >Valve 1</label>
														<input id="valve21" name="valve21" class="number copperround"  type="number" min="0" max="10">
													</span>
													<span class="spanvalve">
														<label class="programheader" >Valve 2</label>
														<input id="valve22" name="valve22" class="number copperround"  type="number" min="0" max="10">
													</span>
													<span class="spanenabled">
														<input type="checkbox" id="prog2enabled" name="prog2enabled" value="True" class="checkstyle">
													</span>
												</fieldset>
											</td>
										</tr>
										<tr style="height:10%;">
											<td>
												<input id="saveForm" class="button_text" type="submit" name="submit" value="Save Changes" />
											</td>
										</tr>
									</table>
								</td>
								<td style='text-align:left;'>
									<fieldset id="forceFieldset">
										<legend class="fieldsetheader">Force</legend>
										<br>
										<input type="radio" id="program1trigger" name="forcetrigger" value="prog1" style="margin-left:10;" onclick="forceProgram(this,0);">
										<label for="program1trigger" class="header">Prog 1</label><br><br>
										<input type="radio" id="program2trigger" name="forcetrigger" value="prog2" style="margin-left:10;" onclick="forceProgram(this,1);">
										<label for="program2trigger" class="header">Prog 2</label><br><br>
										<input type="radio" id="valve1trigger" name="forcetrigger" value="valve1" style="margin-left:10;" onclick="forceValve(this,0);">
										<label for="valve1trigger" class="header">Valve 1</label><br><br>
										<input type="radio" id="valve2trigger" name="forcetrigger" value="valve2" style="margin-left:10;" onclick="forceValve(this,1);">
										<label for="valve2trigger" class="header">Valve 2</label><br><br>
									</fieldset>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="height:10%;">
					<td>
						<input id="stop" class="button_text" type="button" name="stop" value="Stop" onclick="stopWaterflow(this)" />
					</td>
				</tr>
			</table>
		</form>	
	</div>
	<div>
		<textarea id="log" rows="12"  style = "width:100%; height:20vh; font-size: 0.27em;" readonly>Retrieving log...</textarea>
	</div>
	<div>
		<iframe id="grafana_iframe" src="http://192.168.0.14:3000/d-solo/95wZWikRz/piwaterflow?orgId=1&from=now-24h&to=now&panelId=2" width="100%" height="30%" frameborder="0"></iframe>
	</div>
	<script type="text/javascript" src="static/js/code.js"></script>
	</body>
</html>