<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>PiWaterflow irrigation system</title>
<link rel="stylesheet" type="text/css" href="static/css/view.css" media="all">
<link rel="icon" type="image/png" sizes="32x32" href="static/img/icon-32.png">
<link rel="icon" type="image/png" sizes="256x256" href="static/img/icon-256.png">
</head>
<body id="main_body" style="background-color: #222222; color: #7F7F7F;" >
	
	<img id="top" src="static/img/top.png" alt="">
	<div id="form_container" align="center">
		<div class="mainheader">
			<img src="static/img/icon-32.png" alt="Icon">
			<span>PiWaterflow</span>
		</div>
		<form id="waterflow_form" style=" margin-block-end: 0em;" method="POST" action="">
			<div class="form_description" style="margin-bottom: -;margin-bottom: 0px; margin-top: 0px;">
				<p id = 'status'>Status: Retrieving status...</p>
			</div>

			<table border="1" class="table" id="tablacontroles"  style="width:100%">
				<tr>
					<td>
						<table id="programsandforce" style="width:100%">
							<tr>
								<td>
									<table border="2px" id="programstable" style="width:100%">
										<tr border="0px" id="prog1row">
											<td border="0px">
												<fieldset>
													<legend class="fieldsetheader"> Program 1</legend>
													<li id="program1" >
														<span>
															<label class="programheader">Start </label>
															<input type="time" class="text" id="time1" name="time1" value={{time1}} required style="width:70px">
														</span>
														<span>
															<label class="programheader" >Valve 1</label>
															<input id="valve11" name="valve11" class="element number" type="number"  min="0" max="10" value={{valve11}} style="width:50px" >
														</span>
														<span>
															<label class="programheader" >Valve 2</label>
															<input id="valve12" name="valve12" class="element number" type="number" min="0" max="10" value={{valve12}} style="width:50px" >
														</span>
														<span>
															<label class="programheader" >Enabled</label>
															<input type="checkbox" id="prog1enabled" name="prog1enabled" value="True" style="margin-top: 5px;">
															<script type="text/javascript">
																document.getElementById('prog1enabled').checked = '{{enabled1}}'=='True'
															</script>
														</span>
													</li>
												</fieldset>
											</td>
										</tr>
										<tr border="0" id="prog2row">
											<td>
												<fieldset>
													<legend class="fieldsetheader">Program 2</legend>
													<li id="program2" >
														<span>
															<label class="programheader">Start </label>
															<input type="time" class="text" id="time2" name="time2" value={{time2}} required style="width:70px">
														</span>
														<span>
															<label class="programheader" >Valve 1</label>
															<input id="valve21" name="valve21" class="element number"  type="number" min="0" max="10" value={{valve21}} style="width:50px">
														</span>
														<span>
															<label class="programheader" >Valve 2</label>
															<input id="valve22" name="valve22" class="element number"  type="number" min="0" max="10"  value={{valve22}} style="width:50px" >
														</span>
														<span>
															<label class="programheader" >Enabled</label>
															<input type="checkbox" id="prog2enabled" name="prog2enabled" value="True" style="margin-top: 5px;" >
															<script type="text/javascript">
																document.getElementById('prog2enabled').checked = '{{enabled2}}'=='True'
															</script>
														</span>
													</li>
												</fieldset>
											</td>
										</tr>
										<tr>
											<td>
												<input id="saveForm" class="button_text" type="submit" name="submit" value="Save Changes" />
											</td>
										</tr>
									</table>
								</td>
								<td style='text-align:left;'>
									<fieldset id="forceFieldset">
										<legend class="fieldsetheader">Force</legend>
										<input type="radio" id="program1trigger" name="forcetrigger" value="prog1" onclick="forceProgram(this,0);">
										<label for="program1trigger" class="header">Program1</label><br>
										<input type="radio" id="program2trigger" name="forcetrigger" value="prog2"  onclick="forceProgram(this,1);">
										<label for="program2trigger" class="header">Program2</label><br>
										<input type="radio" id="valve1trigger" name="forcetrigger" value="valve1" onclick="forceValve(this,0);">
										<label for="valve1trigger" class="header">Valve1</label><br>
										<input type="radio" id="valve2trigger" name="forcetrigger" value="valve2"  onclick="forceValve(this,1);">
										<label for="valve2trigger" class="header">Valve2</label><br>
									</fieldset>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input id="stop" class="button_text" type="button" name="stop" value="Stop" onclick="stopWaterflow(this)" />
					</td>
				</tr>
			</table>
		</form>	
	</div>
	<div>
		<textarea id="log" rows="12"  style = "width:100%; height=300vw; font-size: 2vw;" readonly>Retrieving log...</textarea>
	</div>
	<div>
    	<iframe id="grafana_iframe" src="http://192.168.0.14:3000/d/95wZWikRz/piwaterflow?orgId=1&kiosk=tv" width="100%" height="300vw"></iframe>
	</div>
	<img id="bottom" src="static/img/bottom.png" alt="">
	<script type="text/javascript" src="static/js/code.js"></script>
	</body>
</html>